.wrapper {
  margin: 10px auto;
  padding: 15px;

  width: 250px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(202, 7, 228, 0.12),
    0px 4px 4px rgba(188, 14, 231, 0.336), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
